@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@use "sass:math";

.projects {
  @extend %section;
  @include mix.background($background-color: var.$background-color-gray);

  .pictures {
    display: flex;
    flex-wrap: wrap;
    gap: var.$gutter-small;

    @include mix.mobile-l-styles {
      flex-direction: column;
    }

    .card {
      width: calc(50% - 5px);

      @include mix.mobile-l-styles {
        width: 100%;
      }
    }
  }
}
